```
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled Python files in specific directories
oct_converter/__pycache__/
oct_converter/dicom/__pycache__/
oct_converter/exceptions/__pycache__/
oct_converter/image_types/__pycache__/
oct_converter/readers/__pycache__/
oct_converter/readers/binary_structs/__pycache__/
oct_converter_app/__pycache__/
oct_converter_app/exporters/__pycache__/
```